.card-container{
    display: flex;
    margin-top: 5rem;
    gap: 5rem;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border-radius: 1rem;
    padding: 0.5rem 1rem; 
    font-size: 1rem;
    border: none;
    box-shadow: 5px 5px 18px 5px var(--secondary);
}

.card-image{
    object-fit: contain;
}

.button2{
    border: 2px solid var(--primary);
    padding: 0.5rem 1rem; 
    font-size: 1rem;
    transition: 0.5s;
}

.button2:hover{
    background-color: var(--primary);
}

.image-badge-wishlist{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary);
}

