.no-transform:hover{
    transform: none;
}

.full-width{
    width: 100%;
    height: 40px; 
    transition: none;
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
}

.final-pay-bill-container{
    max-width: 400px;
    height: auto;
    margin: auto;
    margin-top: 5rem;    
    box-shadow: 5px 5px 18px 5px var(--secondary);
    display: flex;
    flex-direction: column;
    padding: 1.2rem; 
    margin-bottom: 5rem;
    gap: 2rem;
}

.pay-bill-header{
    text-align: center;
    font-weight: bold; 
}

.pay-info{
    display: flex;
    justify-content: space-between;
}

.total-price-label{
    max-width: 350px;
    flex-basis: 140px;

}

.border-bottom{
    border-bottom: 1px solid var(--primary);
    
}

.bold{
    font-weight: bold;
}

.total-qty{
    min-width: 100px;
    text-align: center;
    
}

.total-price{
    text-align: right;

}

.share-cart-btn{
    /* border: 2px solid black; */
    width: 150px;
    padding: 14px;
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--primary);
    cursor: pointer;
}

.share-container{
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5rem;
    gap: 2rem;
    margin-top: 5rem;

}

.apply-coupon-secondary{
    background-color: var(--white);
    color: var(--primary);
}

.apply-coupon-secondary:hover{
    color: var(--white);
}

.checkout-primary{
    background-color: var(--primary);
    color: var(--white);
}

.checkout-primary:hover{
    background-color: var(--red);
}

.checkout-secondary{
    background-color: var(--white);
    color: var(--primary);
}

.display-quantity-input{
    width: 50px;
    border: 2px solid var(--primary);
    text-align: center;
    cursor: pointer;
}

.inc-dec-quantity-container{
    /* border: 2px solid black; */
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.increment-btn{
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;

}

.decrement-btn{
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;


}

